.loadbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  width: 25%;
  height: 4px;

  background: var(--gradient-right);

  transition:
    height .4s linear,
    width .5s linear;
}