.settings {
  position: fixed;
  bottom: 3.5rem;
  right: 2.6rem;
  z-index: 100;

  transition: transform .2s linear;

  &__btn {
    display: block;
    width: 35px;
    height: 35px;
    padding: 5px;

    font-size: 0;
  
    background: transparent url("../assets/images/colorswitch/settings.svg") center no-repeat;
    outline: none;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .6);
  
    cursor: pointer;
    transition: box-shadow .2s linear;
    
    &:hover {
      box-shadow: 0 0 10px 5px var(--main-color);
      animation: jump .8s linear;
    }
  }
}