$dark: #232529;
$light-gray: #313741;
$main: #5a04a0;
$gradient: linear-gradient(to right, $main, rgb(146, 0, 175));
$gradient-bottom: linear-gradient(to bottom, $main, rgb(146, 0, 175));
$gradient-disabled: linear-gradient(to right bottom, $light-gray, #ccc, $light-gray);