.projects {
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 370px;
    width: 30%;
    margin: 0 1rem 2rem;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    border-radius: 10px;
    box-shadow: 0 0 4px rgba(#000, 0.25);

    transition: box-shadow 0.3s linear;

    &:hover {
      box-shadow: 0 0 8px 5px var(--main-color), 0 0 15px 10px rgba(#000, 0.5);

      & img {
        transform: scale(1.1);
      }
    }

    &:hover .projects__overlay {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }

  &__photo {
    position: relative;
    min-height: 246px;
    height: 100%;

    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;

      transition: transform 0.3s linear;
    }
  }

  &__overlay {
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 30%;
    right: 30%;
    z-index: -100;

    background: linear-gradient(to top, #000, var(--main-opcolor));
    box-shadow: inset 0 3px 15px 8px #000;

    transition: opacity 0.2s linear, top 0.2s linear, left 0.2s linear,
      right 0.2s linear, bottom 0.2s linear;

    a {
      position: absolute;
      top: 45%;
      z-index: 100;

      display: block;
      width: 40px;
      height: 40px;
      padding: 8px;

      color: transparent;
      font-size: 0;
      border-radius: 50%;
      border: 2px solid #000;

      transform: translateY(-50%);

      transition: opacity 0.4s linear, background-color 0.2s linear;

      &:first-child {
        left: 40%;
        transform: translateX(-50%);
        background: rgba(#fff, 0.5) url('../assets/images/projects/zoom.svg')
          no-repeat center;
        background-size: 20px 20px;
      }

      &:last-child {
        left: 60%;
        transform: translateX(-50%);
        background: rgba(#fff, 0.5) url('../assets/images/projects/source.svg')
          no-repeat center;
        background-size: 20px 20px;
      }

      &:hover {
        background-color: #fff;
      }
    }

    a:first-child {
      margin-right: 1rem;
    }
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    height: 76px;
    padding: 1rem 19px 10px 13px;

    background-color: rgb(43, 43, 43);
  }

  &__category {
    width: 100%;
    margin-bottom: .8rem;

    color: #ccc;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem;
  }

  &__title,
  &__year {
    text-transform: uppercase;
    font-size: 1.15rem;
    line-height: 1.26;
  }

  &__title {
    a {
      position: relative;

      text-decoration: none;
      color: var(--main-color);
      text-shadow: 3px 3px 2px #000;

      &::after {
        content: '';
        width: 0;
        height: 2px;

        box-shadow: 2px 2px 4px #000;
        background-color: var(--main-color);

        position: absolute;
        bottom: -3px;
        left: 0;
        z-index: 1;

        transition: width 0.2s linear;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__year {
    color: #ccc;
  }

  &__btn {
    width: 100%;
    margin-top: 1rem;

    .btn {
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 937px) {
    &__inner {
      justify-content: center;
    }

    &__item {
      width: 100%;
    }
  }
}
