.modal-work {
  display: flex;

  &__preview {
    width: 65%;
    position: relative;

    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;

      transform: translate(-50%, -50%);
    }
  }

  &__content {
    width: 35%;
    padding: 3.4rem 3.5rem 1rem 1.73rem;

    position: relative;
  }

  &__header {
    margin-bottom: 2.2rem;
  }

  &__title {
    margin-bottom: .7rem;

    font-size: 2.2rem;
    color: transparent;

    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    filter: drop-shadow(6px 6px 2px #000);
  }

  &__subtitle {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    color: #ccc;
    text-transform: uppercase;

    &:last-child {
      padding-left: 1rem;
      margin-left: 1rem;

      border-left: 1px solid #ccc;
    }
  }

  &__client {
    h4 {
      margin-bottom: .2rem;

      font-size: 1.06rem;
    }

    h5 {
      margin-bottom: 2.2rem;

      font-size: .94rem;
      font-style: italic;
      color: #ccc;
    }
  }

  &__text {
    margin-bottom: 8.66rem;
    max-height: 385px;

    overflow: auto;

    font-size: .8rem;
    font-weight: 300;
    color: #ccc;
    line-height: 2;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0 1.8rem 1rem;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: inherit;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;

    background: none;
    border: 0;
    cursor: pointer;
    outline: none;

    padding: 0;

    img {
      width: 8px;
      height: 21px;

      transition: transform .2s linear;
    }

    &--prev {
      img {
        margin-right: .5rem;
        margin-bottom: -1px;
      }
      &:hover {
        img {
          transform: translateX(-7px);
        }
      }
    }

    &--next {
      img {
        margin-left: .5rem;
        margin-top: -1px;
      }
      &:hover {
        img {
          transform: translateX(7px);
        }
      }
    }
  }
}