.skills {
  background-color: var(--light-bg-color);

  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: 1070px) {
      .whatido {
        width: 70%;
      }

      .techs {
        width: 80%;
        margin-top: 1.5rem;
      }
    }

    @media screen and (max-width: 740px) {
      .whatido {
        width: 80%;
      }
      .techs {
        width: 90%;
      }
    }
  }
}