.whatido {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 0 1rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1.9%;

    display: block;
    width: 1px;
    height: 100%;

    background-color: #000;

    @media screen and (max-width: 1180px) {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;

    border-radius: 5px;
    box-shadow: 0 0 5px 1px #000;

    transition: 
      box-shadow .2s linear;

    &:hover {
      box-shadow:
        0 0 8px 5px var(--main-color),
        0 0 15px 10px rgba(#000, .5);
    }

    &:hover &__title {
      color: #fff;
    }

    &__title {
      color: #ccc;
      font-size: 1.6rem;

      transition: color .2s linear;
    }
  }

  &__icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 2rem;

    filter: drop-shadow(2px 2px 2px var(--main-color));
  }
}