.burger {
  display: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;

  height: 19px;
  width: 24px;
  padding: 0;

  font-size: 0;
  color: transparent;
  outline: none;
  cursor: pointer;

  border: 0;
  background: none;

  span {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    margin: auto;

    background-color: #fff;

    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 3px;

      background-color: #fff;

      transition: transform .2s linear;
    }

    &::before {
      top: -8px;
      transform-origin: left top;
    }

    &::after {
      bottom: -8px;
      transform-origin: left bottom;
    }
  }

  &.active span {
    background-color: transparent;
  }

  &.active span::before {
    transform: translateX(4px) rotate(45deg);
  }

  &.active span::after {
    transform: translateX(4px) rotate(-45deg);
  }

  @media screen and (max-width: 475px) {
    display: block;
  }
}