.nav {
  display: flex;
  align-items: center;

  position: relative;

  transition: border-color .2s linear;

  &__link {
    font-size: 0.93rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 1.5rem;

      @media screen and (max-width: 600px) {
        margin-right: .7rem;
      }
    }

    &::after {
      content: '';
      width: 0;
      height: 2px;
      background-color: #fff;

      position: absolute;
      bottom: -5px;
      left: 0;
      z-index: 1;

      transition: width 0.2s linear;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 475px) {
    .header__inner  & {
      flex-direction: column;
      justify-content: space-around;

      &__link {
        font-size: 1.2rem;
      }

      height: 30%;
      margin-bottom: 2rem;
    }
  }
}
