.nav {
  display: flex;
  align-items: center;

  &__link {
    font-size: 0.93rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    &:not(:first-child) {
      margin-left: 1.5rem;
    }
    position: relative;

    transition: border-color .2s linear;

    &--btn {
      padding: 0.66rem 2rem;

      border: 2px solid #fff;
      border-radius: 20px;

      transition: 
        border-color .2s linear,       
        box-shadow .2s linear,
        background-color .2s linear;

      &:hover {
        background-color: #fff;
        color: #000;
        box-shadow: 0 0 10px 6px rgba(#fff, 0.5);
      }
    }

    &::after {
      content: '';
      width: 0;
      height: 2px;
      background-color: #fff;

      position: absolute;
      bottom: -5px;
      left: 0;
      z-index: 1;

      transition: width 0.2s linear;
    }

    &:hover:not(.nav__link--btn) {
      &::after {
        width: 100%;
      }
    }
  }
}
