.about {
  &__inner {
    display: flex;
  }

  &__photo,
  &__content {
    width: 50%;
    height: 574px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  &__wrapper {
    width: 350px;
    height: 390px;

    display:flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
  }

  &__photo {
    padding-top: 3.7rem;

    &__border {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: -40px;
        right: -40px;
        z-index: -1;

        display: block;
        width: 100%;
        height: 100%;

        border-width: 10px;
        border-style: solid;
        border-image: $gradient;
        border-image-slice: 2;
      }
    }
  }

  &__content {
    padding: 1rem 0 0 2rem;
  }

  &__suptitle {
    margin-left: 10px;

    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 4px 4px 2px #000;
  }

  &__title {
    margin-top: .5rem;

    font-size: 6rem;
    line-height: 1;
    text-transform: uppercase;

    color: #000;
    text-shadow: 4px 4px 10px $main;
  }

  &__text {
    margin: .5rem 1rem 1.5rem 0.66rem;

    font-size: .9rem;
    font-weight: 300;
    line-height: 1.8;
    color: #ccc;
  }

  &__bio {
    display: flex;
    width: 100%;
    margin: 0 1rem 1.2rem 0.66rem;

    &__title {
      margin-right: 0.5rem;

      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1;
      color: $main;
      text-transform: uppercase;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.1;

      user-select: text;
    }
  }
}
