.about {
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__photo,
  &__content {
    width: 50%;
    max-height: 574px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  &__wrapper {
    width: 350px;
    height: 390px;

    display:flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    @media screen and (max-width: 515px) {
      width: 260px;
      height: auto;
    }
  }

  

  &__photo {
    padding-top: 3.7rem;

    &__border {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: -40px;
        right: -40px;
        z-index: -1;

        display: block;
        width: 100%;
        height: 100%;

        border-width: 10px;
        border-style: solid;
        border-image: $gradient;
        border-image-slice: 2;
      }

      @media screen and (max-width: 400px) {
        margin-left: -2.4rem;
      }
    }
  }

  &__content {
    padding: 1rem 0 0 2rem;
  }

  @media screen and (max-width: 777px) {
    &__photo,
    &__content {
      width: 100%;
    }

    &__content {
      margin-top: 2rem;
    }
  }

  @media screen and (max-width: 777px) {
    &__content {
      padding-left: 1rem;
    }
  }

  &__suptitle {
    margin-left: 10px;

    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 4px 4px 2px #000;
  }

  &__title {
    margin-top: .5rem;

    font-size: 6rem;
    line-height: 1;
    text-transform: uppercase;

    color: #000;
    text-shadow: 4px 4px 10px $main;
  }

  @media screen and (max-width: 1070px) {
    &__suptitle {
      font-size: 2rem;
    }

    &__title {
      font-size: 4rem;
    }
  }

  &__text {
    margin: .5rem 1rem 1.5rem 0.66rem;

    font-size: .9rem;
    font-weight: 300;
    line-height: 1.8;
    color: #ccc;
  }

  @media screen and (max-width: 380px) {
    &__suptitle {
      font-size: 1.7rem;
    }

    &__title {
      font-size: 3rem;
    }

    &__text {
      font-size: .8rem;
    }
  }

  &__bio {
    display: flex;
    width: 100%;
    margin: 0 1rem 1.2rem 0.66rem;

    &__title {
      margin-right: 0.5rem;

      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1;
      color: $main;
      text-transform: uppercase;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.1;

      user-select: text;
    }

    @media screen and (max-width: 380px) {
      &__title {
        font-size: 1rem;
      }

      p {
        font-size: .9rem;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;

    @media screen and (max-width: 445px) {
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
      
      .btn:first-child {
        margin-bottom: 1rem;
      }
    }
  }
}
